<div class="container">

  <div class="row">
    <div class="col-sm-1">
      <div class="thumbnail" style="padding: 0px">
        <img src="<%= user.image%>" alt="avatar" align="left" class="img-responsive avatar"/>
      </div>
    </div>

    <div class="col-sm-5" style="min-width:inherit">
      <div class="panel panel-default" style="min-width: 100%">
        <div >
          <strong style="margin: 10px"><%= user.name%></strong> <span class="text-muted" style="margin: 10px"><%= comment.updated_at%></span>
        </div>
        <div style="margin: 10px">
          <%= markdown(comment.acomment) %>
        </div>
      </div>
    </div>
  </div>
</div>