<%= form_for(@issue, :html => { :multipart => true }) do |f| %>
  <% if notice %>
      <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
  <% end %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
        <p id="error">
          <%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:
        </p>
        <% issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
      <ul>
      </ul>
    </div>
  <% end %>

  <script>
    function assignToMe() {
      var id = "<%= current_user.id %>";
      var select = document.getElementById('sel-user');
      select.value = id;
    }
  </script>

  <script>
    updateList = function() {
      var input = document.getElementById('file-selector');
      var output = document.getElementById('fileList');

      output.innerHTML   = '<ul class=\'attachment-list\'>';
      for (var i = 0; i < input.files.length; ++i) {
        if (i === input.files.length - 1) output.innerHTML += '<li class=\'attachment-li li-last\'>' + input.files.item(i).name + '</li>';
        else output.innerHTML += '<li class=\'attachment-li\'>' + input.files.item(i).name + '</li>';
      }
      output.innerHTML += '</ul>';
    }
  </script>

  <div class="container form-class container-new">
    <div class="row">
      <div class="col-md-8">
        <div id='title-and-description' class="field-group">
          <%= f.label :title, :class => 'text-muted label-group'%>
          <%= f.text_field :title, :required => true, :class => 'form-control text input-title' %>
        </div>

        <div class="field-group">
          <div class="field">
            <%= f.label :description, :class => 'text-muted label-group' %>
            <%= md_simple_editor('btn-sm') do %>
              <%= f.text_area :description, { :class => 'form-control form-description', :style => 'height: 150px'} %>
            <% end %>
            <i>Editor options not working? Refresh page.</i>
          </div>
        </div>

        <div class="field-group">
          <div class="field">
            <%= f.label :user_id, 'Asignee', :class => 'text-muted label-group' %>
            <%= f.collection_select(:user_id, User.all, :id, :name, {include_blank: true, include_hidden: false},
              {:class => "form-control small-select", :id =>"sel-user"}) %>
            <%= link_to 'Assign to me', '#', {:class => 'btn btn-link assign-link', :onclick => "assignToMe()", :remote => true }  %>
          </div>
        </div>

        <div class="field-group">
          <div class="field">
            <%= f.label :kind, :class => 'text-muted label-group' %>
            <%= f.select :kind, Issue.kinds.keys, {}, {class: "form-control small-select", required: true} %>
          </div>
        </div>

        <div class="field-group">
          <div class="field">
            <%= f.label :priority, :class => 'text-muted label-group' %>
            <%= f.select :priority, Issue.priorities.keys, {}, {class: "form-control small-select", required: true} %>
          </div>
        </div>

        <div class="field-group" id="attachments">
          <label class='text-muted label-group'>Attachments</label>
          <% if @issue.fattachments.size > 0 %>
            <ul id="atts" class='attachment-list'>
              <% @issue.fattachments.each do |att| %>
                  <li class='attachment-li'>
                    <%= link_to(att.file_file_name, att.file.url, :download => att.file_file_name) %>
                    <%= link_to 'Remove', att, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger button-remove' %>
                  </li>
              <% end %>
            </ul>
            <div class='li-last'></div>
          <% end %>

          <%= fields_for :attachments do |_| %>
            <div class="field">
              <div id="fileList"></div>
              <span class="btn btn-large btn-default btn-file">
                  Select file
                  <%= file_field_tag "uploads[]", type: :file, multiple: true, id: 'file-selector', onchange: 'javascript:updateList()' %>
              </span>
            </div>
          <% end %>
        </div>

        <div class="field-group">
          <div class="actions">
            <button name="commit" type="submit" class="btn btn-primary">
              <b><%= confirm_issue_form_text(@issue) %></b>
            </button>
            <%= link_to 'Cancel', cancel_issue_form_path(@issue), class: 'btn btn-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
