<%= form_for [@issue, @issue.comments.new] do |c| %>
    <div class="field">
      <%= md_simple_editor('btn-sm')  do %>
          <%= c.text_area :acomment, { :class => 'form-control form-description', :style => 'height: 50px'} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= c.submit 'Comment', class: 'btn btn-primary', :style => 'margin-top: 10px; margin-right: 10px' %>
      <i>Editor options not working? Refresh page.</i>
    </div>
<% end %>