<% if notice %>
  <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<div id="issuesList">
  <h2>Issues</h2>

  <div class="row" id="filters">
    <div class="col-xs-1"><i>Filters: </i></div>
    <div class="col-xs-1"><a class="btn btn-default btn-block <%= active_filter('all') %>"
                             href=<%= issues_path(filter: 'all') %>>All</a></div>
    <div class="col-xs-1"><a class="btn btn-default btn-block <%= active_filter('open') %>"
                             href=<%= issues_path(filter: 'open') %>>Open</a></div>
    <div class="col-xs-1"><a class="btn btn-default btn-block <%= active_filter('responsible') %>"
                             href=<%= issues_path(filter: 'responsible') %>>My issues</a></div>
    <div class="col-xs-1"><a class="btn btn-default btn-block <%= active_filter('watching') %>"
                             href=<%= issues_path(filter: 'watching') %>>Watching</a></div>
    <div class="col-xs-6"></div>
    <div class="col-xs-1"><%= link_to 'New Issue', new_issue_path, class: 'btn btn-success' %></div>
  </div>

  </p>

  <div id="titolsTaula" class="row">
    <div class="col-xs-2"><b>Title</b></div>
    <div class="col-xs-1"><b>Type</b></div>
    <div class="col-xs-1"><b>Priority</b></div>
    <div class="col-xs-1"><b>Status</b></div>
    <div class="col-xs-1"><b>Votes</b></div>
    <div class="col-xs-2"><b>Asignee</b></div>
    <div class="col-xs-2"><b>Created</b></div>
    <div class="col-xs-2"><b>Updated</b></div>
  </div>

  <% @issues.each do |issue| %>

  <div id="item" class="row">
    <div class="col-xs-2"><%= link_to issue.title, issue %></div>
    <div class="col-xs-1"><p><%= issue.kind.humanize %></p></div>
    <div class="col-xs-1"><%= issue.priority.humanize %></div>
    <div class="col-xs-1"><%= humanize_status(issue.status) %></div>
    <div class="col-xs-1"><%= issue.num_votes %></div>
    <div class="col-xs-2"><% if issue.user %><%= issue.user.name %><% end %></div>
    <div class="col-xs-2"><%= distance_of_time_in_words_to_now(issue.created_at) %></div>
    <div class="col-xs-2"><%= distance_of_time_in_words_to_now(issue.updated_at) %></div>
  </div>
  <% end %>
  <br>
</div>
