<% if notice %>
  <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert"><p id="error"><%= flash[:alert] %></p></div>
<% end %>
<div class="row">
  <div class="col-xs-8">
    <h3> Issue: #<%= @issue.id %> </h3>
    <h2> <%= @issue.title %> </h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <p>
          <% if @issue.description.empty? %>
              <i>No description provided.</i>
          <% end %>
          <%= markdown(@issue.description) %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comments (<%= @issue.comments.size %>)</h3>
      </div>
      <div class="panel-body">
        <% @issue.comments.each do |comment| %>
            <% u = User.find_by_id(comment.user_id)%>
            <%= render partial: 'comments/comment', locals: {comment: comment, user: u } %>
        <% end %>
      </div>
    </div>
    <%= render 'newcomment', issue: @issue %>
  </div>
  <div class="col-xs-4">
    <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 17px">
      <div class="btn-group" role="group">
        <a class="btn btn-primary" href="#" role="button">Resolve</a>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workflow
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-wide">
          <% Issue.statuses.each_key do |status| %>
            <li><%= link_to humanize_status(status), issue_path(@issue, issue: {status: status}), method: :put %></li>
          <% end %>
        </ul>
      </div>
      <%= link_to 'Edit', edit_issue_path(@issue), id: 'edit_issue' , class: 'btn btn-default' %>
      <%= link_to 'Delete', @issue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <div class="panel panel-default" style="margin-top: 10px">
      <div class="panel-body">
        <p>
          <strong>Assignee:</strong>
          <% if @issue.user %>
            <%= @issue.user.name %> (<%= @issue.user.email %>)
          <% end %>
        </p>

        <p>
          <strong>Type:</strong>
          <%= @issue.kind %>
        </p>

        <p>
          <strong>Priority:</strong>
          <%= @issue.priority %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= humanize_status(@issue.status) %>
        </p>

        <p>
          <l><strong>Watchers</strong></l>
          <span class="badge"><%= @issue.watchers %></span>
          <% if @issue.users_watching.exists? current_user.id %>
              <%= link_to 'Stop watching', watch_path(@issue), :method => :post%>
          <% else %>
              <%= link_to 'Watch', watch_path(@issue), :method => :post%>
          <% end %>
        </p>
        <p>
          <l><strong>Votes</strong></l>
          <span class="badge"><%= @issue.num_votes %></span>
          <% if @issue.users_voting.exists? current_user.id %>
              <%= link_to 'Remove vote', vote_path(@issue), :method => :post%>
          <% else %>
              <%= link_to 'Vote for this issue', vote_path(@issue), :method => :post%>
          <% end %>
        </p>
        <p>
          <br>
          <l><strong>Attachments</strong></l>
          <br>
          <% if @issue.fattachments.size > 0 %>
            <ul id="atts" class='attachment-list'>
              <% @issue.fattachments.each do |att| %>
                  <li class='attachment-li'>
                    <%= link_to(att.file_file_name, att.file.url, :download => att.file_file_name) %>
                  </li>
              <% end %>
            </ul>
            <div class='li-last'></div>
          <% else %>
            <label><i>No attached files.</i></label>
          <% end %>
        </p>

      </div>
    </div>
  </div>

</div>
<div class="row">
  <%= link_to 'Back', issues_path, class: 'btn btn-link'%>
</div>
