<%= form_for(fattachment) do |f| %>
  <% if fattachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fattachment.errors.count, "error") %> prohibited this fattachment from being saved:</h2>

      <ul>
      <% fattachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
