<p id="notice"><%= notice %></p>

<h1>Fattachments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fattachments.each do |fattachment| %>
      <tr>
        <td><%= link_to 'Show', fattachment %></td>
        <td><%= link_to 'Edit', edit_fattachment_path(fattachment) %></td>
        <td><%= link_to 'Destroy', fattachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fattachment', new_fattachment_path %>
