<%= form_for(file_att) do |f| %>
  <% if file_att.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_att.errors.count, "error") %> prohibited this file_att from being saved:</h2>

      <ul>
      <% file_att.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
