<p id="notice"><%= notice %></p>

<h1>File Atts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_atts.each do |file_att| %>
      <tr>
        <td><%= link_to 'Show', file_att %></td>
        <td><%= link_to 'Edit', edit_file_att_path(file_att) %></td>
        <td><%= link_to 'Destroy', file_att, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File Att', new_file_att_path %>
