/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require md_simple_editor
 */


@import "bootstrap-sprockets"
@import "bootstrap"
@import "login"
@import "issues"
@import "navbar"
//@import "material"

label
    font-weight: normal

.container-new
    width: 100%

.field-group
    box-sizing: border-box
    clear: both
    padding: 4px 0 4px 145px
    position: relative
    margin: 1px 0
    width: 100%
    display: table
    font-weight: normal

.label-group
    float: left
    margin-left: -145px
    padding: 5px 0 0
    position: relative
    text-align: right
    width: 130px
    word-wrap: break-word

.text
    height: 2.14285714em
    line-height: 1.4285714285714
    padding: 4px 5px

.small-select
    width: 30%

.form-class
    margin-left: -50px

.form-description
    margin-top: -30px
    height: 150px

.assign-link
    padding-left: 0
    margin-bottom: -9px

.md-object
    width: 100%

.thumbnail
    height: 50px
    width: 50px

.button-remove
    float: right
    
.btn-file 
    position: relative
    overflow: hidden


.btn-file input[type=file] 
    position: absolute
    top: 0
    right: 0
    min-width: 100%
    min-height: 100%
    font-size: 100px
    text-align: right
    filter: alpha(opacity=0)
    opacity: 0
    outline: none
    background: white
    cursor: inherit
    display: block

.attachment-li
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    max-width: auto
    border-top: 1px solid #ccc
    margin: 0
    padding: 5px 10px
    position: relative
    list-style-type: none
    
.li-last    
    margin-bottom: 10px
    border-bottom: 1px solid #ccc
    
.attachment-list
    margin: 0
    padding: 0
