// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.avatar {
  padding: 4px 5px;
  width: 42px;
  height: 42px;
}
.avatar-big {
  padding: 4px 5px;
  width: 96px;
  height: 96px;
}
.login {
  background-color: forestgreen;
}
.logout {
  background-color: indianred;
}