.navbar-default {
  background-color: #20507e;
  border-color: #3572b0;
  min-height: 42px;
  line-height: 42px;
  padding-top: 0;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  min-height: 42px;
  line-height: 42px;
  height: 42px;
  padding-top: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: #3572b0;
  min-height: 42px;
  line-height: 42px;
  height: 42px;
  padding-top: 0;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  min-height: 42px;
  line-height: 42px;
  height: 42px;
  padding-top: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3572b0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3572b0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3572b0;
}
.navbar-default .navbar-toggle {
  border-color: #3572b0;
  min-height: 26px;
  line-height: 26px;
  height: 26px;
  padding-top: 5px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3572b0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  max-height: 42px;
  padding-top: 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  background-color: #3572b0;
}
.navbar-default .navbar-nav>.active> a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover {
  background: #3572b0;
  min-height: 42px;
  line-height: 42px;
  height: 42px;
  padding-top: 0;
}
.dropdown-menu {
  white-space: nowrap;
  width: max-content;
  padding: 8px 16px;
  overflow: auto;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #3572b0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3572b0;
  }
  .dropdown-menu {
    color: #ffffff;
    width: max-content;
    padding: 5px 10px;
  }
}