<!DOCTYPE html>
<html>
<head>
  <title>Issue Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>Issue Tracker ASW</b></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-question-sign"></span> About</a>
                <ul class="dropdown-menu">
                  <i>Developed by:</i>
                  <ul>
                    <li>Albert López Alcácer</li>
                    <li>Alberto Pérez Torres</li>
                    <li>Carlos Lázaro Costa</li>
                    <li>David Segovia Tomàs</li>
                  </ul>
                </ul>
              </li>
            </li>
            <% if current_user %>
              <% if current_user.image %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="<%= current_user.image %>" title="<%= current_user.name %>" class="dropdown-toggle img-responsive avatar"/>
                  </a>
                  <ul class="dropdown-menu">
                    <img src="<%= current_user.image %>" title="<%= current_user.name %>"
                         align="left" class="avatar-big"/>
                    <i><%= current_user.email %></i></br>
                    <b><%= current_user.name %></b>
                  </ul>
                </li>
              <% end %>
              <li><a href="/logout" class="logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            <% else %>
                <li><a href="/auth/google_oauth2" class="login"><span class="glyphicon glyphicon-log-in"></span> Log in with Google</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class='col-xs-12 container-fluid'>
      <%= yield%>
    </div>
  </div>
</body>
</html>